{% extends "admin/base.html" %}
{% block content %}
<table class="table table-active">
    <thead>
      <tr>
        <th scope="col">FUll Name</th>
        <th scope="col">Message</th>
        <th scope="col">Mail Adress</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
     {% for mail in  mail %}
     
     
      <tr>
        <td>{{mail.mail_name}}</td>
        <td>{{mail.mail_message}}</td>
        <td>{{mail.mail_adress}}</td>
        <td>
            <a href="/admin/blog/delete/{{blog.id}}">Delete</a>
            <a href="/admin/blog/update/{{blog.id}}">Update</a>
        </td>
      </tr>
     
      {% endfor %}
    </tbody>
  </table>
{% endblock %}