{% extends "admin/base.html" %}
{% block content %}
<h2>Add new service</h2>
<form action="/admin/experience/update/{{experience.id}}" method="POST">
  <div class="mt-3">
    <input type="text" class="form-control" value="{{experience.experience_year}}" name="experience_year">
  </div>
  <div class="mt-3">
    <input type="text" class="form-control" value="{{experience.experience_title}}" name="experience_title">
  </div>
  <div class="mt-3">
    <input type="text" class="form-control" value="{{experience.experience_desc}}" name="experience_desc">
  </div>
  <div class="mt-3">
    <input type="text" class="form-control" value="{{experience.experience_place}}" name="experience_place">
  </div>
  <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>
{% endblock %}