{% extends "admin/base.html" %}
{% block content %}
<h2>Add new experience</h2>
<form action="/admin/experience" method="POST">
  <div class="mt-3">
    
    <input type="text" class="form-control" placeholder="Experience year" name="experience_year">
  </div>
  <div class="mt-3">
    <input type="text" class="form-control" placeholder="Experience place" name="experience_place">
  </div>
  <div class="mt-3">
    <input type="text" class="form-control" placeholder="Experience title" name="experience_title">
  </div>
  <div class="mt-3">
    <textarea name="experience_desc" placeholder="Experience description" id="" cols="30" rows="10"></textarea>
  </div>
  <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>
<hr>
<h2>Current experience</h2>
<table class="table table-active">
  <thead>
    <tr>
      <th scope="col">Experience title</th>
        <th scope="col">Experience description</th>
        <th scope="col">Experience place</th>
        <th scope="col">Experience year</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
   {% for experience in experience %}
   
   
    <tr>
      <td>{{experience.experience_title}}</td>
      <td>{{experience.experience_desc}}</td>
      <td>{{experience.experience_place}}</td>
      <td>{{experience.experience_year}}</td>
      <td>
          <a href="/admin/experience/delete/{{experience.id}}">Delete</a>
          <a href="/admin/experience/update/{{experience.id}}">Update</a>
      </td>
    </tr>
   
    {% endfor %}
  </tbody>
</table>
{% endblock %}