{% extends "admin/base.html" %}
{% block content %}
<h2>Add new work</h2>
<form action="/admin/portfolio" method="POST" enctype="multipart/form-data">
  <div class="mt-3">
    
    <input type="text" class="form-control" placeholder="Work name" name="work_name">
  </div>
  <div class="mt-3">
    <input type="text" class="form-control" placeholder="Work code link" name="work_link">
  </div>
  <div class="mt-3">
    <input type="file" class="form-control" placeholder="work image" name="work_img">
  </div>
  
  <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>
<hr>
<h2>All works</h2>
<table class="table table-active">
  <thead>
    <tr>
      <th scope="col">Portfolio link</th>
      <th scope="col">Portfolio name</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
   {% for work in work %}
   
   
    <tr>
      <td>{{work.portfolio_link}}</td>
      <td>{{work.portfolio_name}}</td>
      <td>
          <a href="/admin/portfolio/delete/{{work.id}}">Delete</a>
          <a href="/admin/portfolio/update/{{work.id}}">Update</a>
      </td>
    </tr>
   
    {% endfor %}
  </tbody>
</table>

{% endblock %}